@import '../../global.scss';

.portfolio {
  background-color: rgb(243, 127, 127);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    margin-top: 30px;
    @include tablet {
      font-size: 70px;
      margin-bottom: 50px;
    }
  }
  p {
    font-size: 20px;
    margin: 6rem;
  }
  ul {
    margin: 30px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid lightgray;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      @include desktop {
        width: 420px;
      height: 280px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }
      a {
        img {
          width: 100%;
          height: 100%;
          //object-fit: cover;
          z-index: 1;
        }

        &:hover {
          background-color: $mainColor;
          img {
            opacity: 0.2;
            z-index: 0;
          }
        }
      }
    }
    
    .direction-card {
      @include tablet {
        display: flex;
        
      }
      .descriptif-card {
      margin: 20px;
      text-align: center;
      @include tablet {
        width: 250px;
        display: flex;
        align-items: center;
      }
      @include desktop {
        font-size: 20px;
      }
    }
    }
  }
  .flech {
    a {
      display: flex;
      justify-content: center;
      @include tabletMax {
        display: none;
      }

      img {
        width: 50px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
