$mainColor: #15023a;

$widthTablet: 720px;
$widthDesktop: 1024px;

@mixin tablet {
  @media (min-width: #{$widthTablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$widthDesktop}) {
    @content;
  }
} ;

@mixin tabletMax {
  @media (max-width: #{$widthTablet}) {
    @content;
  }
} ;
